<div class="container">
  <h1>Anträge stellen</h1>
  <p>Wähle aus, welchen Antrag Du stellen möchtest. Wenn Du Dir nicht sicher bist wähle den Antrag, der am ehesten hinkommt. Im Zweifel kann der Typ später noch geändert werden, wobei es schneller geht, wenn Du sofort den richtigen ausgewählt hast.</p>

  <div class="motion-selector-box">
    <a class="button motion-selector" href="">
      <span>€</span>
      <b>Finanzantrag</b>
    </a>
    <ul>
      <li>Wenn Du Geld brauchst</li>
      <li>Wenn Du schon immer mal mit Alexander Schubert kommunizieren wolltest</li>
      <li>weil es geht</li>
    </ul>
  </div>

  <div class="motion-selector-box">
    <a class="button motion-selector" href="">
      <span>P</span>
      <b>Positionierungsantrag</b>
    </a>
    <ul>
      <li>weil P ein toller Buchstabe ist</li>
    </ul>
  </div>

  <div class="motion-selector-box">
    <a class="button motion-selector" href="">
      <span>B</span>
      <b>B… keine Ahnung</b>
    </a>
    <ul>
      <li>man denke sich hier eine  sinnvolle Liste hin</li>
      <li>oder sowas</li>
    </ul>
  </div>
</div>

<div class="container">
  <h2>Andere Aufgaben</h2>
  <p>Im Menü findest Du eine Übersicht der verschiedenen Möglichkeiten. Beachte, dass Du bestimmte Aktionen nur durchführen kannst, wenn Du angemeldet bist. Die Anmeldung erfolgt mit den Logindaten, die auch in der FSK funktionieren. Wenn Du ein „Externer“ bist sollte es genügen Wünsche in die Kommentare zu schreiben.</p>
</div>


<div class="container">
  <h2>Kontakt und Impressum</h2>
  <p>Es gilt das gleiche <a href="http://www.fsk.uni-heidelberg.de/kontakt-impressum.html"><b>Impressum</b> wie auf der FSK-Seite</a>.</p>

  <p font-style="font-size:9px">Verwendete Software und Lizenzen:
    <a href="http://oldwiki.rubyonrails.org/rails/pages/License">Ruby on Rails (MIT)</a>, <a href="http://shop.highsoft.com/highcharts.html#non-commercial">Highcharts (CC-NC 3.0)</a>, <a href="https://github.com/necolas/css3-github-buttons/">Github Buttons (public domain)</a>, <a href="https://github.com/teambox/Free-file-icons/blob/master/LICENSE">Free-file-icons (LGPL)</a>, <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby und die meisten Gems (MIT)</a>, <a href="https://github.com/intridea/omniauth/blob/master/LICENSE">Omniauth</a>
  </p>
</div>

