<div class="container">
  <h2>Seite nicht gefunden</h2>
  <p>Die Seite die Du aufgerufen hast existiert nicht. Falls sie es sollte, schreibe bitte einen Fehlerbericht mit der Adresse und wie Du hier her gekommen bist. Die <a href="/impressum">passende E-Mail Adresse findest Du im Impressum</a>. Vielen Dank.</p>
</div>
