<div class="container">
  <h2>Kontakt und Impressum</h2>
  <p>Es gilt das gleiche <a href="http://www.fsk.uni-heidelberg.de/kontakt-impressum.html"><b>Impressum</b> wie auf der FSK-Seite</a>.</p>

  <p>
    <b>Bugs?</b><br/>
    Wenn Du glaubst einen Fehler gefunden zu haben kannst Du Dich an folgende E-Mail Adresse wenden: <%= mail_to "stefan+FSK_Antrag@mathphys.fsk.uni-heidelberg.de"%>. Je mehr Informationen und Links Du angibst desto eher kann ich Dir helfen. Alles andere, was nicht direkt mit der Antragssoftware zu tun hat wird automatisch durch den SPAM-Filter gelöscht. Wende Dich in solchen Fällen bitte an die Adressen auf der <a href="http://www.fsk.uni-heidelberg.de/kontakt-impressum.html">Kontaktseite der FSK.</a>
  </p>

  <p font-style="font-size:9px"><b>Verwendete Software und Lizenzen:</b><br/>
    <a href="http://oldwiki.rubyonrails.org/rails/pages/License">Ruby on Rails (MIT)</a>, <a href="http://shop.highsoft.com/highcharts.html#non-commercial">Highcharts (CC-NC 3.0)</a>, <a href="https://github.com/necolas/css3-github-buttons/">Github Buttons (public domain)</a>, <a href="https://github.com/teambox/Free-file-icons/blob/master/LICENSE">Free-file-icons (LGPL)</a>, <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby und die meisten Gems (MIT)</a>, <a href="https://github.com/intridea/omniauth/blob/master/LICENSE">Omniauth</a>, <a href="http://www.mightymeta.co.uk/1269/css-noise/">CSS Noise</a>
  </p>
</div>
