<div class="container">

<h1>Referate</h1>

  <%= link_to 'Neues Referat anlegen', new_referat_path, :class => "single" if is_current_root? %>

  <% @referate.each do |referat| %>
    <%= link_to(referat, :class => "box") do %>
      <h3><%= referat.name %></h3>
      <%= referat.mail %><br/>
    <% end %>
  <% end %>
</div>
