* {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-family: 'Oxygen', sans-serif;
  }

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

ul {
  list-style-position:inside; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  display: inline;
  input {
    border-color:#d40000;
  }
}

#error_explanation {
  margin-top:10px;
  margin-bottom:5px;
  h2 {
    font-weight:bold;
    font-size:inherit;
  }
  li {
      list-style: bullet; } }

#header {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */


  height:40px;
  overflow:hidden;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  padding:0 80px;
  span {
    font-size: 28px;
    line-height:40px;
    font-weight: bold;
    color: #000;
    font-family: 'Droid Serif', serif;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff;
  }
  #login {
    float: right;
    margin:0 5px;
    line-height:40px;
    a {
      top: -2px;
      margin-left: 4px;
    }
  }}

#menu {
  background-color: #3C8DDE;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);

  height: 38px;
  overflow:hidden;
  list-style-type: none;
  margin-bottom:20px;
  padding:0 71px;
  li {
    float: left;
  }
  a {
    color: white;
    font-weight: bold;
    height:38px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    vertical-align: middle;
    line-height:38px;
    text-decoration:none;
    text-shadow: 0 1px 0 #000;
    &:hover {
      text-decoration: underline;
      background: none;
    }
  } }

#content {
  margin:0 40px;
}

.container, .message {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 40px 40px;
  color: #000;
  margin-bottom:20px;
}

.notice:before {
  color: rgba(0, 0, 255, 0.1);
  content: "i";
  float: right;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Droid Serif', serif;
  margin-right:3px;
}

.notice {
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.1);
}


.error:before {
  color: rgba(255, 0, 0, 0.1);
  content: "⨉";
  float: right;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  margin-right:3px;
}

.error {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.warn:before, .warning:before {
  color: rgba(255, 217, 0, 0.4);
  content: "!";
  float: right;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  margin-right:3px;
}

.warn, .warning {
  box-shadow: 0 0 15px rgba(255, 217, 0, 0.3);
}

h1, h2 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}


label {
  width:100px;
  display:inline-block;
}

form {
  .button {
    margin-top: 10px;
  }}




input[type=submit]:focus,
input[type="button"],
input[type=reset]:focus,
button:focus,
.button:focus {
  outline: none;
}
label, input[type="button"], input[type="submit"], input[type=reset], input[type="image"], button { cursor: pointer; }

input,
textarea,
select {
  margin: 5px;
  padding: 3px 5px;
  border: 1px solid #D4D4D4;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
  font-size: 13px;
}

textarea.comment {
  width:55%;
  float:left;
  height:150px;
  margin:0;
  margin-top:10px;
}

div.comment_help {
  float:right;
  width:40%;
}

input:focus, textarea:focus {
  background: #fff;
}

input[type=checkbox] {
  padding: 0;
  border: none;
  background: none;
}

a {
  color: #3C8DDE;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
  outline: none;
}

a.single {
  display:table;
  margin-bottom: 10px;
}

a.box {
  display:block;
  margin-bottom:10px;
  color:inherit;
  text-decoration:inherit;
  width: auto;
  padding: 5px 0;
  &:hover {
    background:#fcfcfc;
    margin-left:-40px;
    margin-right:-40px;
    padding: 5px 40px;
  }
}

a.smallbox {
  display:block;
  margin-bottom:10px;
  float:left;
  color:inherit;
  text-decoration:inherit;
  width: 300px;
  padding: 5px;
  &:hover {
    background:#fcfcfc;
  }
  img {
    float:left;
    margin-right: 4px;
    margin-top: 1px;
  }
}

th, td {
  text-align:left;
  padding:4px 8px;
  border-bottom:1px solid #eee;
}

tr:nth-child(even) {background: #fff}
tr:nth-child(odd) {background: #eee}

table {
  border-top:1px solid #eee;
  border-collapse:collapse;
  select {
    margin: 0;
  }
}


br.spacer {
  margin-bottom:5px;
}

.checkboxes {
  label {
    width: 10em;
    vertical-align:top;
    padding-left:1.5em;
    input[type=checkbox] {
      margin-left:-1.5em;
    }
  }
}


div.comment {
  margin-left:-40px;
  margin-right:-40px;
  padding: 5px 40px;
  border-top:1px solid #fcfcfc;
  border-bottom:1px solid #fcfcfc;
  span {
    float: right;
    width: 230px;
    font-size:90%;
    text-align:right;
    padding: 0 0 10px 10px;
  }
  p {
    margin:0;
    margin-bottom:5px;
    width: 100%;
    &:last-child {
      margin-bottom:0;
    }
  }
  &:hover {
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
  }
  div.breakfix {
    clear:both;
    margin-bottom:-12px;
  }
}

div.comment:nth-child(even) {background: #fff}
div.comment:nth-child(odd) {background: #fcfcfc}

br.clear {
  clear: both;
}

.motion-selector {
  font-weight: bold;

  span {
    display:block;
    width:30px;
    font-size:30px;
    float:left;
    line-height:40px;
    vertical-align:center;
  }

  b {
    display:block;
    float:left;
    line-height:40px;
    vertical-align:center;
    font-size:13px;
  }
}

.motion-selector-box {
  float:left;
  width:33%;
}
