<div class="container">

<h1>Neue Fachschaft anlegen</h1>

<p>Mit Ausnahme der Homepage werden alle Daten benötigt.</p>

<%= render 'form' %>

<%= link_to 'Abbrechen', fachschaften_path, :class => "button" %>

</div>
